body {
  background-color: #fff;
  font-family: 'Gilroy';
}

.page {
  box-sizing:border-box;
}

.section {
  padding: 15rem 9rem 12rem;
  @media screen and (max-width: 1200px) {
    padding: 12rem 4rem 10rem;
  }
  @media screen and (max-width: 992px) {
    padding: 10rem 2rem 8rem;
  }
  @media screen and (max-width: 768px) {
    padding: 9rem 2rem 7rem;
  }
  @media screen and (max-width: 440px) {
    padding: 6rem 1rem 5rem;
  }
}

.wrapper {
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
}


