.services {
    background-color: #184757;
    color: #fff;
}

.services__wrapper {
    display: flex;
    flex-direction: row;
}

.services_info {
    display: flex;
    flex-direction: column;
    /*width: 60%;*/
    justify-content: space-between;
}

.services_info__top{
    display: flex;
    flex-direction: column;
}

.services_info__bottom {
    display: flex;
    justify-content: flex-start;
}

.services__title {
    margin: 0;
    font-size: 8rem;
    text-transform: uppercase;
    font-weight: 900;
    font-style:  normal;
    letter-spacing: 0.25rem;
}

.services__descript {
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: 100;
    font-style:  normal;
    /*letter-spacing: 0.125rem;*/
}

.services_cards {
    display: flex;
    flex-direction: column;
    /*width: 40%;*/
}

.services__card {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.services__card_icon {
    /*border-radius: 50%;*/
    /*background-color: #fff;*/
    width: 60px;
    height: 60px;
    max-width: 5rem;
}

.services__card_title {
    margin-top: 1.5rem;
    color: #FEB103;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.125rem;
}

.services__card_descript {
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1200px) {
    .services__title {
        font-size: 4rem;
        letter-spacing: 0.25rem;
    }

    .services__descript {
        margin-top: 5rem;
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    .services__card {
        margin-top: 4rem;
    }

    .services__card_icon {
        width: 60px;
        height: 60px;
        max-width: 5rem;
    }

    .services__card_title {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        letter-spacing: 0.125rem;
    }

    .services__card_descript {
        margin-top: 1rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 992px) {

}


@media screen and (max-width: 768px) {
    .services__wrapper {
        flex-direction: column;
    }
    .services_info {
        width: 100%;
    }
    .services__title {
        font-size: 3rem;
        letter-spacing: 0.25rem;
    }

    .services__descript {
        margin-top: 5rem;
        font-size: 1.5rem;
    }

    .services__card {
        margin-top: 4rem;
    }

    .services__card_icon {
        width: 60px;
        height: 60px;
        max-width: 5rem;
    }

    .services__card_title {
        margin-top: 1.5rem;
        font-size: 2rem;
        letter-spacing: 0.125rem;
    }

    .services__card_descript {
        margin-top: 1rem;
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
}


@media screen and (max-width: 576px) {
    .services_info {
        width: 100%;
    }
    .services__title {
        font-size: 3rem;
        letter-spacing: 0.25rem;
    }

    .services__descript {
        margin-top: 5rem;
        font-size: 1.5rem;
    }

    .services__card {
        margin-top: 4rem;
    }

    .services__card_icon {
        width: 60px;
        height: 60px;
        max-width: 5rem;
    }

    .services__card_title {
        margin-top: 1.5rem;
        font-size: 2rem;
        letter-spacing: 0.125rem;
    }

    .services__card_descript {
        margin-top: 1rem;
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

}

@media screen and (max-width: 440px) {
    .services__title {
        font-size: 2rem;
    }

    .services__descript {
        margin-top: 3rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .services__card_title {
        margin-top: 1.5rem;
        font-size: 1.125rem;
        letter-spacing: 0.125rem;
    }

    .services__card_descript {
        margin-top: 1rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}


