.services {
    background-color: $color-blue;
    color: $color-white;
    &__wrapper {
        display: flex;
        flex-direction: row;
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &_top {
            display: flex;
            flex-direction: column;
        }
        &_bottom  {
            display: flex;
            justify-content: flex-start;
        }
        &_title {
            margin: 0;
            text-transform: uppercase;
            font-weight: 900;
            font-style:  normal;
            font-size: 8rem;
            letter-spacing: 0.25rem;
            @media screen and (max-width: 440px) {
                font-size: 2rem;
            }
        }
        &_descript {
            font-weight: 100;
            font-style:  normal;
            font-size: 2rem;
            //letter-spacing: 0.125rem;
            @media screen and (max-width: 440px) {
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }
    }
    &__cards {
        display: flex;
        flex-direction: column;
    }
}
.services-card {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    &__icon {
        width: 60px;
        height: 60px;
        max-width: 5rem;
    }
    &__title {
        margin-top: 1.5rem;
        color: #FEB103;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 0.125rem;
        @media screen and (max-width: 440px) {
            margin-top: 1.5rem;
            font-size: 1.125rem;
            letter-spacing: 0.125rem;
        }
    }
    &__descript {
        margin-top: 1rem;
        font-size: 1.5rem;
        line-height: 1.75rem;
        @media screen and (max-width: 440px) {
            margin-top: 1rem;
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
}






@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1200px) {
    .services__title {
        font-size: 4rem;
        letter-spacing: 0.25rem;
    }

    .services__descript {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    .services__card {
        margin-top: 4rem;
    }

    .services__card_icon {
        width: 60px;
        height: 60px;
        max-width: 5rem;
    }

    .services__card_title {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        letter-spacing: 0.125rem;
    }

    .services__card_descript {
        margin-top: 1rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
    .services__wrapper {
        flex-direction: column;
    }
    .services_info {
        width: 100%;
    }
    .services__title {
        font-size: 3rem;
        letter-spacing: 0.25rem;
    }

    .services__descript {
        font-size: 1.5rem;
    }

    .services__card {
        margin-top: 4rem;
    }

    .services__card_icon {
        width: 60px;
        height: 60px;
        max-width: 5rem;
    }

    .services__card_title {
        margin-top: 1.5rem;
        font-size: 2rem;
        letter-spacing: 0.125rem;
    }

    .services__card_descript {
        margin-top: 1rem;
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
}

@media screen and (max-width: 576px) {
    .services_info {
        width: 100%;
    }
    .services__title {
        font-size: 3rem;
        letter-spacing: 0.25rem;
    }

    .services__descript {
        font-size: 1.5rem;
    }

    .services__card {
        margin-top: 4rem;
    }

    .services__card_icon {
        width: 60px;
        height: 60px;
        max-width: 5rem;
    }

    .services__card_title {
        margin-top: 1.5rem;
        font-size: 2rem;
        letter-spacing: 0.125rem;
    }

    .services__card_descript {
        margin-top: 1rem;
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

}




