.btn{
    color: #fff;
    background-color: #FEB103;
    border-radius: 6px;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 0.25rem;
    padding: 1.5rem 7rem ;
    margin-top: 7rem;
    /*align-items: flex-end;*/
}

.btn:hover {
    color: #184757;
    transition: opacity .4s;
    opacity: .7;
}

.btn-show {
    display: flex;
}

.btn-hidden {
    display: none;
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1200px) {
    .btn{
        font-size: 1.025rem;
        letter-spacing: 0.25rem;
        padding: 1.25rem 5rem ;
        margin-top: 5.5rem;
    }
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
    .btn{
        font-size: 1rem;
        letter-spacing: 0.25rem;
        padding: 1rem 2rem ;
        margin-top: 4rem;
    }

    .btn-show {
        display: none;
    }
    .btn-hidden {
        display: flex;
    }
}

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 440px) {
    .btn{
        font-size: 0.875rem;
        letter-spacing: 0.25rem;
        padding: 0.875rem 3rem ;
        margin-top: 5rem;
        line-height: 1rem;
    }
}




