.btn{
    color: $color-white;
    background-color: $color-yellow;
    font-family: inherit;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 900;
    font-size: 1.25rem;
    letter-spacing: 0.25rem;
    padding: 1.5rem 7rem ;
    &:hover {
        color: #184757;
        transition: opacity .4s;
        opacity: .7;
    }
}

.btn-show {
    display: inline;
}

.btn-hidden {
    display: none;
}
.form__button {
    border: 0;
}
@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1200px) {
    .btn{
        font-size: 1.025rem;
        padding: 1.25rem 5rem ;
    }
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
    .btn{
        font-size: 1rem;
        padding: 1rem 2rem ;
    }

    .btn-show {
        display: none;
    }
    .btn-hidden {
        display: inline-block;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 440px) {
    .btn{
        font-size: 0.875rem;
        padding: 0.875rem 3rem ;
    }
}




