<header class="header toggleClass">
    <div class="wrapper ">
        <div class="header__wrapper ">
            <div class="logo__wapper">
                <a href="/">
                    <img src="<%=require('../../assets/img/logo.svg')%>" alt="logo" class="logo">
                </a>
            </div>
            <div class="menu">
                <nav class="menu__wrapper">
                    <a href="/#about" class="menu__nav-link"><span class="link_text">Кто мы</span></a>
                    <a href="/portfolio.html" class="menu__nav-link"><span class="link_text">Что мы наделали</span></a>
                    <a href="/#order" class="menu__nav-link"><span class="link_text">Контакты</span></a>
                </nav>
            </div>
        </div>
    </div>
</header>