.main-screen {
    background-image: url("../../../img/main_30.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.main__wrapper {
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: flex-start;
}

.main__title {
    margin: 0;
    color: #184757;
    text-transform: uppercase;
    font-size: 5rem;
    font-style:  normal;
    font-weight: 900;
    width: 80%;
    /*letter-spacing: 1rem;*/
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1200px) {
    .main__title {
        font-size: 4rem;
        width: 80%;
    }
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
    .main__title {
        font-size: 3.5rem;
        width: 80%;
    }
}

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 440px) {
    .main__title {
        font-size: 2rem;
        width: 80%;
    }
}