<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <title>GARAЖ</title>
</head>
<body>
<div class="page">
    <header class="header">
        <div class="wrapper">
            <div class="header__wrapper">
                <div class="logo__wapper">
                    <img src="../../assets/img/logo.svg" alt="logo" class="logo">
                </div>
                <div class="menu">
                    <nav class="menu__wrapper">
                        <a href="#" class="menu__nav_link"><span class="link_text">Кто мы</span></a>
                        <a href="#" class="menu__nav_link"><span class="link_text">Что мы наделали</span></a>
                        <a href="#" class="menu__nav_link"><span class="link_text">Контакты</span></a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main class="content">
        <section class="section main-screen">
            <div class="wrapper">
                <div class="main__wrapper">
                    <h1 class="main__title margin-left">
                        веб однушка вашей мамки бла бла бла
                    </h1>
                    <a href="#" class="btn margin-left">
                        <span>заказать</span>
                    </a>
                </div>
            </div>
        </section>
        <section class="section about">
            <div class="wrapper">
                <div class="about__wrapper">
                    <h2 class="section__title about__title">
                        кто мы
                    </h2>
                    <p class="about__descript margin-left">
                        Квартира 122 —  веб-студия: помогаем людям и организациям, которым нужен сайт, приложение или сервис. Нарисуем, сверстаем, запрограммируем и продвинем любую фигню за немного деньжат или еду
                    </p>
                    <a href="#" class="btn">
                        <span>посмотреть что мы уже навертели</span>
                    </a>
                </div>
            </div>
        </section>
        <section class="section services">
            <div class="wrapper">
                <div class="services__wrapper">
                    <div class="services_info">
                        <div class="services_info__top">
                            <h2 class="section__title services__title">
                                Чем мы поможем
                            </h2>
                            <p class="services__descript margin-left">
                                С Божьей помощью что-нибудь сделаем. Это неточно, долго, плохо и всем будет стыдно. Но мы постараемся!
                            </p>
                        </div>
                        <div class="services_info__bottom margin-left">
                            <a href="#" class="btn">
                                <span>заказать</span>
                            </a>
                        </div>
                    </div>
                    <div class="services_cards margin-left ">
                        <!--        <div class="services__wrapper-card">-->
                        <div class="services__card">
                            <img src="../../assets/img/1.svg" class="services__card_icon" alt="">
                            <div class="services__card_title">сделаем сайт или приложение</div>
                            <div class="services__card_descript">Платформы с графиками и инструментами для анализа финансовых рынков</div>
                        </div>
                        <div class="services__card">
                            <img src="../../assets/img/2.svg" class="services__card_icon" alt="">
                            <div class="services__card_title">сервис шмервис</div>
                            <div class="services__card_descript">Платформы с графиками и инструментами для анализа финансовых рынков.Платформы с графиками и инструментами для анализа финансовых рынков</div>
                        </div>
                        <div class="services__card">
                            <img src="../../assets/img/3.svg" class="services__card_icon" alt="">
                            <div class="services__card_title">дизайн недизайн</div>
                            <div class="services__card_descript">Платформы с графиками и инструментами для анализа финансовых рынков.Платформы с графиками и инструментами для анализа финансовых рынков</div>
                        </div>
                        <!--        </div>-->
                    </div>
                </div>
            </div>
        </section>
<!--        <section class="section partners">-->
<!--            <div class="wrapper">-->
<!--                <div class="partners__wrapper">-->
<!--                    <h2 class="section__title partners__title">-->
<!--                        <span class="title__align-left">C кем мы</span> <span class="title__align-right">работали</span>-->
<!--                    </h2>-->
<!--                </div>-->
<!--                <div class="center  carousel__wrapper">-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
        <section class="section contact">
            <div class="wrapper">
                <div class="contact__wrapper">
                        <form class="form__admin">
                            <div class="form__main-container">
                                <h2 class="section__title contact__title">
                                    свяжитесь с нами
                                </h2>
                                <div class="form_column">
                                    <fieldset class="form__input-container">
    <!--                                        <label class="form__label" for="name">Ваше имя</label>-->
                                            <input class="form__item form__item_heading" required placeholder="Ваше имя" name="name" type="text">
    <!--                                        <label class="form__label" for="email">E-mail</label>-->
                                            <input class="form__item form__item_email" required placeholder="hello@example.com" name="email" type="email">
    <!--                                        <label class="form__label" for="phone">E-mail</label>-->
                                            <input class="form__item form__item_email" required placeholder="+7 ___ __ __" name="phone" type="tel">
                                   </fieldset>
<!--                                </div>-->
<!--                                <div class="form_column">-->
                                    <fieldset class="form__input-container">
                                            <!--<label class="form__label" for="message">Сообщение</label>-->
                                            <textarea class="form__item form__item_main-text" required placeholder="Ваше сообщение" name="message"></textarea>
                                            <input class="btn form__button" type="submit">
                                    </fieldset>
                                </div>
                        </form>
                </div>
            </div>
        </section>
    </main>
</div>
<footer class="footer">
    <div class="wrapper">
        <div class="footer__wrapper">
            <div class="footer_row">
                <div class="footer_column">
                    <img src="../../assets/img/logo-color.svg" alt="logo" class="logo">
                    <span class="footer_text">Make web great again</span>
                </div>
                <div class="footer_column">
                    <span class="footer_text">Не связывайтесь с нами</span>
                    <span class="footer_text text-decor">hello@mail.ru</span>
                    <span class="footer_text text-decor">+ 7 (987) 654 32 10</span>
                </div>
            </div>

            <div class="footer_row">
                <div class="footer_column">
                    <p class="footer__copyright menu__nav_link w-text n-text">&copy; 2020 GARAЖ</p>
                </div>
                <div class="footer_column">
                    <div class="footer-menu">
                        <nav class="menu__wrapper">
                            <a href="#" class="menu__nav_link w-text n-text"><span class="link_text">Кто мы</span></a>
                            <a href="#" class="menu__nav_link w-text n-text"><span class="link_text">Что мы наделали</span></a>
                            <a href="#" class="menu__nav_link w-text n-text"><span class="link_text">Контакты</span></a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>