<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <title>GARAЖ</title>
</head>
<body>
<div class="page">
    <div class="decor">
    </div>
    <%=require('../includes/header.ejs')({})%>
    <main class="content">
        <section class="main">
            <div class="wrapper">
                <div class="main__wrapper margin-left">
                    <h1 class="main__title">
                        Портфолио
                    </h1>
                </div>
            </div>
        </section>
    </main>
</div>
<%=require('../includes/footer.ejs')({})%>
</body>
</html>